<!--deleteDialog-->

<template name="deleteDialog">
	<div class="modal fade" role="dialog" id="deleteDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<p>Are you sure you want to delete everything in this semester?</p>
				</div>
				<div class="modal-footer">
					<button id="delete" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
</template>
<!--End deleteDialog -->