<!--===========================================================-->
<!---Header is the navigation menu-->
<template name="Header">
	<nav class="navbar navbar-default navbar-static-top" role="navigation" id="header-planner">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{pathFor 'home'}}">AState Planner</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{pathFor 'about'}}">About us</a></li>
				</ul>
			</div>
		</div>
	</nav>
</template>